In [2]:
import pandas as pd

# Read the CSV file
data = pd.read_csv('uzlenzbytkypozberane.csv')

# Display the DataFrame
print(data)

          UniqueID  Org  AucID               AucZac               AucKon  \
0      100-45-1413   45   1413  2018-04-25 15:00:00  2018-04-27 09:45:00
1      100-45-1443   45   1443  2019-01-24 10:30:00  2019-01-31 10:30:00
2      100-45-1389   45   1389  2017-10-30 09:15:00  2017-11-10 13:00:00
3      100-45-1398   45   1398  2018-02-07 10:00:00  2018-03-01 00:00:00
4      100-45-1404   45   1404  2018-02-09 15:00:00  2018-02-23 15:00:00
..             ...  ...    ...                  ...                  ...
909   102-146-2352  146   2352  2018-05-15 14:00:00  2018-05-17 10:20:00
910   102-146-2409  146   2409  2020-05-20 12:30:00  2020-05-22 10:28:00
911   102-146-2359  146   2359  2018-06-26 15:30:00  2018-06-28 10:22:00
912  1065-181-5895  181   5895  2019-05-14 10:07:00  2019-05-15 09:06:00
913  1065-181-5896  181   5896  2019-05-16 10:00:00  2019-05-17 09:09:00

           AucNazov1                      AucVal  Porovnávacia cena  \
0    BUTYLGLYKOL (CA  Multikriteriální hodnocení        198982.8900
1    Kancelářské pot   Celková nabídka účastníka        245087.5215
2    Poptávka výroby   Celková nabídka účastníka         32398.0000
3    Pronájem manipu          Jednotlivé položky        268321.2000
4    Cenová poptávka  Multikriteriální hodnocení         63678.3000
..               ...                         ...                ...
909  Upratovanie pri   Celková nabídka účastníka         18696.3920
910  Upratovací serv   Celková nabídka účastníka         20675.4660
911  Inovácia RS - č   Celková nabídka účastníka        280000.0000
912  rebrované trubk   Celková nabídka účastníka         98442.9600
913  rúry bezošvé pr   Celková nabídka účastníka        295850.0000

     VitaznaPonuka Mena  ...  PocetItems  PocetZmienPonuk  PocetPredlzeni  \
0         83283.00  CZK  ...           4             15.0               0
1        150894.45  CZK  ...          41             89.0               0
2          7436.00  CZK  ...           1              9.0               0
3             0.98  CZK  ...          30            134.0               0
4         57820.00  CZK  ...           1              3.0               0
..             ...  ...  ...         ...              ...             ...
909       18442.80  EUR  ...           1              5.0               0
910       16719.05  EUR  ...           1             12.0               4
911      298350.00  EUR  ...           1             11.0               1
912       99910.00  EUR  ...           1             19.0               3
913      273420.00  EUR  ...           1             22.0               8

                    Stat MinKrokZnizPercenta HistoryDealsInCategory  \
0        Česká republika                 0.1                      1
1        Česká republika                 0.0                      1
2        Česká republika                 0.1                      1
3        Česká republika                 0.0                      1
4        Česká republika                 0.1                      3
..                   ...                 ...                    ...
909                   SK                 0.1                      1
910                   SK                 0.1                      2
911                   SK                 0.1                      1
912  Slovenská republika                 0.1                      2
913  Slovenská republika                 0.1                      4

     HistoryDealsWithVitaz  MoneySpentSoFarInCategory  \
0                        1                   83283.00
1                        1                  150894.45
2                        1                    7436.00
3                        1                       0.98
4                        1                  187387.00
..                     ...                        ...
909                      1                   18442.80
910                      1                   35161.85
911                      1                  298350.00
912                      2                  182030.20
913                      2                  563930.20

     MoneySpentSoFarWithVitaz Relativna Uspora
0                    83283.00         0.581456
1                   150894.45         0.384324
2                     7436.00         0.770480
3                        0.98         0.999996
4                    57820.00         0.091998
..                        ...              ...
909                  18442.80         0.013564
910                  16719.05         0.191358
911                 298350.00        -0.065536
912                 182030.20        -0.014902
913                 381900.00         0.075815

[914 rows x 26 columns]

In [3]:
num_unique_ids_data = data[data['Vitaz'] == 7923]['UniqueID'].nunique()
num_unique_ids_data

3

In [8]:
data

,UniqueID,Org,AucID,AucZac,AucKon,AucNazov1,AucVal,Porovnávacia cena,VitaznaPonuka,Mena,...,PocetItems,PocetZmienPonuk,PocetPredlzeni,Stat,MinKrokZnizPercenta,HistoryDealsInCategory,HistoryDealsWithVitaz,MoneySpentSoFarInCategory,MoneySpentSoFarWithVitaz,Relativna Uspora
0,100-45-1413,45,1413,2018-04-25 15:00:00,2018-04-27 09:45:00,BUTYLGLYKOL (CA,Multikriteriální hodnocení,198982.8900,83283.00,CZK,...,4,15.0,0,Česká republika,0.1,1,1,83283.00,83283.00,0.581456
1,100-45-1443,45,1443,2019-01-24 10:30:00,2019-01-31 10:30:00,Kancelářské pot,Celková nabídka účastníka,245087.5215,150894.45,CZK,...,41,89.0,0,Česká republika,0.0,1,1,150894.45,150894.45,0.384324
2,100-45-1389,45,1389,2017-10-30 09:15:00,2017-11-10 13:00:00,Poptávka výroby,Celková nabídka účastníka,32398.0000,7436.00,CZK,...,1,9.0,0,Česká republika,0.1,1,1,7436.00,7436.00,0.770480
3,100-45-1398,45,1398,2018-02-07 10:00:00,2018-03-01 00:00:00,Pronájem manipu,Jednotlivé položky,268321.2000,0.98,CZK,...,30,134.0,0,Česká republika,0.0,1,1,0.98,0.98,0.999996
4,100-45-1404,45,1404,2018-02-09 15:00:00,2018-02-23 15:00:00,Cenová poptávka,Multikriteriální hodnocení,63678.3000,57820.00,CZK,...,1,3.0,0,Česká republika,0.1,3,1,187387.00,57820.00,0.091998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,102-146-2352,146,2352,2018-05-15 14:00:00,2018-05-17 10:20:00,Upratovanie pri,Celková nabídka účastníka,18696.3920,18442.80,EUR,...,1,5.0,0,SK,0.1,1,1,18442.80,18442.80,0.013564
910,102-146-2409,146,2409,2020-05-20 12:30:00,2020-05-22 10:28:00,Upratovací serv,Celková nabídka účastníka,20675.4660,16719.05,EUR,...,1,12.0,4,SK,0.1,2,1,35161.85,16719.05,0.191358
911,102-146-2359,146,2359,2018-06-26 15:30:00,2018-06-28 10:22:00,Inovácia RS - č,Celková nabídka účastníka,280000.0000,298350.00,EUR,...,1,11.0,1,SK,0.1,1,1,298350.00,298350.00,-0.065536
912,1065-181-5895,181,5895,2019-05-14 10:07:00,2019-05-15 09:06:00,rebrované trubk,Celková nabídka účastníka,98442.9600,99910.00,EUR,...,1,19.0,3,Slovenská republika,0.1,2,2,182030.20,182030.20,-0.014902
913,1065-181-5896,181,5896,2019-05-16 10:00:00,2019-05-17 09:09:00,rúry bezošvé pr,Celková nabídka účastníka,295850.0000,273420.00,EUR,...,1,22.0,8,Slovenská republika,0.1,4,2,563930.20,381900.00,0.075815

In [9]:
# Drop the rows where 'Vitaz' equals 0
data = data[data['Vitaz'] != 0]
data

,UniqueID,Org,AucID,AucZac,AucKon,AucNazov1,AucVal,Porovnávacia cena,VitaznaPonuka,Mena,...,PocetItems,PocetZmienPonuk,PocetPredlzeni,Stat,MinKrokZnizPercenta,HistoryDealsInCategory,HistoryDealsWithVitaz,MoneySpentSoFarInCategory,MoneySpentSoFarWithVitaz,Relativna Uspora
0,100-45-1413,45,1413,2018-04-25 15:00:00,2018-04-27 09:45:00,BUTYLGLYKOL (CA,Multikriteriální hodnocení,198982.8900,83283.00,CZK,...,4,15.0,0,Česká republika,0.1,1,1,83283.00,83283.00,0.581456
1,100-45-1443,45,1443,2019-01-24 10:30:00,2019-01-31 10:30:00,Kancelářské pot,Celková nabídka účastníka,245087.5215,150894.45,CZK,...,41,89.0,0,Česká republika,0.0,1,1,150894.45,150894.45,0.384324
2,100-45-1389,45,1389,2017-10-30 09:15:00,2017-11-10 13:00:00,Poptávka výroby,Celková nabídka účastníka,32398.0000,7436.00,CZK,...,1,9.0,0,Česká republika,0.1,1,1,7436.00,7436.00,0.770480
3,100-45-1398,45,1398,2018-02-07 10:00:00,2018-03-01 00:00:00,Pronájem manipu,Jednotlivé položky,268321.2000,0.98,CZK,...,30,134.0,0,Česká republika,0.0,1,1,0.98,0.98,0.999996
4,100-45-1404,45,1404,2018-02-09 15:00:00,2018-02-23 15:00:00,Cenová poptávka,Multikriteriální hodnocení,63678.3000,57820.00,CZK,...,1,3.0,0,Česká republika,0.1,3,1,187387.00,57820.00,0.091998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,102-146-2352,146,2352,2018-05-15 14:00:00,2018-05-17 10:20:00,Upratovanie pri,Celková nabídka účastníka,18696.3920,18442.80,EUR,...,1,5.0,0,SK,0.1,1,1,18442.80,18442.80,0.013564
910,102-146-2409,146,2409,2020-05-20 12:30:00,2020-05-22 10:28:00,Upratovací serv,Celková nabídka účastníka,20675.4660,16719.05,EUR,...,1,12.0,4,SK,0.1,2,1,35161.85,16719.05,0.191358
911,102-146-2359,146,2359,2018-06-26 15:30:00,2018-06-28 10:22:00,Inovácia RS - č,Celková nabídka účastníka,280000.0000,298350.00,EUR,...,1,11.0,1,SK,0.1,1,1,298350.00,298350.00,-0.065536
912,1065-181-5895,181,5895,2019-05-14 10:07:00,2019-05-15 09:06:00,rebrované trubk,Celková nabídka účastníka,98442.9600,99910.00,EUR,...,1,19.0,3,Slovenská republika,0.1,2,2,182030.20,182030.20,-0.014902
913,1065-181-5896,181,5896,2019-05-16 10:00:00,2019-05-17 09:09:00,rúry bezošvé pr,Celková nabídka účastníka,295850.0000,273420.00,EUR,...,1,22.0,8,Slovenská republika,0.1,4,2,563930.20,381900.00,0.075815

In [10]:

# Write the resulting DataFrame to a new CSV file
data.to_csv('final_data.csv', index=False)

In [5]:
# Create a mask where 'Vitaz' equals 0
mask = data['Vitaz'] == 0

# Check if there are any rows where 'Vitaz' equals 0
has_zero_vitaz = mask.any()

print(has_zero_vitaz)

True

In [6]:
print(len(mask))

914

In [7]:
print(mask)

0      False
1      False
2      False
3      False
4      False
       ...
909    False
910    False
911    False
912    False
913    False
Name: Vitaz, Length: 914, dtype: bool

In [9]:
import pandas as pd

# Read the CSV file
data = pd.read_csv('data_auctionHIsim2024/T4_bidyHI simul2_2024.csv', sep=';', encoding='ISO-8859-1')
# Display the DataFrame
print(data)

           UniqueID  Org  AucID            NazovKola  IDItem IDParticipant  \
0       100-45-1364   45   1364         Vstupní kolo   54038          2983
1       100-45-1364   45   1364         Vstupní kolo   53969          2983
2       100-45-1364   45   1364         Vstupní kolo   54177          2983
3       100-45-1364   45   1364         Vstupní kolo   54037          2983
4       100-45-1364   45   1364         Vstupní kolo   53979          2983
...             ...  ...    ...                  ...     ...           ...
76552  1105-60-3190   60   3190  Pøedkládání nabídek   58525         10834
76553  1105-60-3191   60   3191                  NaN   58527          5860
76554  1105-60-3191   60   3191                  NaN   58527         10626
76555  1105-60-3191   60   3191                  NaN   58527         10626
76556  1105-60-3192   60   3192  Pøedkládání nabídek   58528          5506

            Datum  CasZmeny NovaHodnota Unnamed: 9
0      13.10.2017  15:58:22         690        NaN
1      13.10.2017  15:58:23         690        NaN
2      13.10.2017  15:58:24         690        NaN
3      13.10.2017  15:58:25         690        NaN
4      13.10.2017  15:58:26         690        NaN
...           ...       ...         ...        ...
76552   30.1.2020  13:25:25       11500        NaN
76553    4.2.2020   7:25:42       18705        NaN
76554    4.2.2020   7:58:26         950        NaN
76555    4.2.2020   7:58:33         990        NaN
76556   17.2.2020  13:23:17       33919        NaN

[76557 rows x 10 columns]

/var/folders/cj/vh3ymv8n1tsf0kp09s2k65l80000gq/T/ipykernel_4189/2253226629.py:4: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data_auctionHIsim2024/T4_bidyHI simul2_2024.csv', sep=';', encoding='ISO-8859-1')

In [10]:
data

,UniqueID,Org,AucID,NazovKola,IDItem,IDParticipant,Datum,CasZmeny,NovaHodnota,Unnamed: 9
0,100-45-1364,45,1364,Vstupní kolo,54038,2983,13.10.2017,15:58:22,690,NaN
1,100-45-1364,45,1364,Vstupní kolo,53969,2983,13.10.2017,15:58:23,690,NaN
2,100-45-1364,45,1364,Vstupní kolo,54177,2983,13.10.2017,15:58:24,690,NaN
3,100-45-1364,45,1364,Vstupní kolo,54037,2983,13.10.2017,15:58:25,690,NaN
4,100-45-1364,45,1364,Vstupní kolo,53979,2983,13.10.2017,15:58:26,690,NaN
...,...,...,...,...,...,...,...,...,...,...
76552,1105-60-3190,60,3190,Pøedkládání nabídek,58525,10834,30.1.2020,13:25:25,11500,NaN
76553,1105-60-3191,60,3191,NaN,58527,5860,4.2.2020,7:25:42,18705,NaN
76554,1105-60-3191,60,3191,NaN,58527,10626,4.2.2020,7:58:26,950,NaN
76555,1105-60-3191,60,3191,NaN,58527,10626,4.2.2020,7:58:33,990,NaN
76556,1105-60-3192,60,3192,Pøedkládání nabídek,58528,5506,17.2.2020,13:23:17,33919,NaN

In [59]:
# Select only rows where 'IDParticipant' equals 7120
selected_rows = data[data['IDParticipant'] == '7120']

# Display the selected rows

selected_rows

,UniqueID,Org,AucID,NazovKola,IDItem,IDParticipant,Datum,CasZmeny,NovaHodnota,Unnamed: 9
59894,1105-60-2307,60,2307,Pøedkládání nabídek,44926,7120,4.1.2018,7:18:51,63,NaN
59895,1105-60-2307,60,2307,Pøedkládání nabídek,44927,7120,4.1.2018,7:18:53,72,NaN
59896,1105-60-2307,60,2307,Pøedkládání nabídek,44930,7120,4.1.2018,7:19:10,81,NaN
59897,1105-60-2307,60,2307,Pøedkládání nabídek,44930,7120,4.1.2018,7:19:30,81,NaN
60248,1105-60-2329,60,2329,Pøedkládání nabídek,46216,7120,19.1.2018,9:24:10,350,NaN
62270,1105-60-2442,60,2442,Pøedkládání nabídek,53184,7120,5.4.2018,16:03:54,"1,25",NaN
63254,1105-60-2507,60,2507,Pøedkládání nabídek,53653,7120,18.5.2018,9:14:09,610,NaN
63255,1105-60-2507,60,2507,Pøedkládání nabídek,53654,7120,18.5.2018,9:14:17,780,NaN
63256,1105-60-2507,60,2507,Pøedkládání nabídek,53655,7120,18.5.2018,9:14:30,2050,NaN
64068,1105-60-2572,60,2572,Pøedkládání nabídek,54111,7120,3.7.2018,9:05:34,1240,NaN
64220,1105-60-2584,60,2584,Pøedkládání nabídek,54204,7120,1.8.2018,9:47:14,448,NaN
64234,1105-60-2584,60,2584,Pøedkládání nabídek,54241,7120,3.8.2018,8:51:40,1000,NaN
64823,1105-60-2628,60,2628,Pøedkládání nabídek,54467,7120,29.8.2018,12:49:42,482,NaN
66015,1105-60-2713,60,2713,Pøedkládání nabídek,55066,7120,29.10.2018,10:18:00,"953,4",NaN
68352,1105-60-2839,60,2839,Pøedkládání nabídek,55993,7120,20.2.2019,11:30:57,"856,2",NaN
68353,1105-60-2839,60,2839,Pøedkládání nabídek,55995,7120,20.2.2019,11:31:06,1118,NaN
68354,1105-60-2839,60,2839,Pøedkládání nabídek,55993,7120,20.2.2019,11:33:35,"836,2",NaN
70347,1105-60-2945,60,2945,Pøedkládání nabídek,56741,7120,20.5.2019,11:09:46,896,NaN
70603,1105-60-2950,60,2950,Pøedkládání nabídek,56775,7120,24.5.2019,9:59:18,492,NaN
70604,1105-60-2950,60,2950,Pøedkládání nabídek,56776,7120,24.5.2019,9:59:22,1172,NaN
71464,1105-60-3003,60,3003,Pøedkládání nabídek,57098,7120,29.7.2019,12:50:55,848,NaN
71465,1105-60-3003,60,3003,Pøedkládání nabídek,57099,7120,29.7.2019,12:51:02,1076,NaN
73272,1105-60-3063,60,3063,Pøedkládání nabídek,57548,7120,23.9.2019,11:20:05,958,NaN
73273,1105-60-3063,60,3063,Pøedkládání nabídek,57547,7120,23.9.2019,11:20:11,1126,NaN

In [62]:
data.dtypes

UniqueID         object
Org               int64
AucID             int64
NazovKola        object
IDItem            int64
IDParticipant    object
Datum            object
CasZmeny         object
NovaHodnota      object
Unnamed: 9       object
dtype: object

In [63]:
hlavna.dtypes

UniqueID                      object
Org                            int64
AucID                          int64
AucZac                        object
AucKon                        object
AucNazov1                     object
AucVal                        object
Porovnávacia cena            float64
VitaznaPonuka                float64
Mena                          object
PocetPozvanok                  int64
PocetAktivnychUcast          float64
Vitaz                         object
AucTypUpresnenie              object
Kateg                         object
Subkateg                      object
PocetItems                     int64
PocetZmienPonuk              float64
PocetPredlzeni                 int64
Stat                          object
MinKrokZnizPercenta          float64
HistoryDealsInCategory         int64
HistoryDealsWithVitaz          int64
MoneySpentSoFarInCategory    float64
MoneySpentSoFarWithVitaz     float64
Relativna Uspora             float64
dtype: object

In [24]:
import pandas as pd

# Read the CSV file
hlavna = pd.read_csv('uzlenzbytkypozberane.csv')

# Display the DataFrame
hlavna

,UniqueID,Org,AucID,AucZac,AucKon,AucNazov1,AucVal,Porovnávacia cena,VitaznaPonuka,Mena,...,PocetItems,PocetZmienPonuk,PocetPredlzeni,Stat,MinKrokZnizPercenta,HistoryDealsInCategory,HistoryDealsWithVitaz,MoneySpentSoFarInCategory,MoneySpentSoFarWithVitaz,Relativna Uspora
0,100-45-1413,45,1413,2018-04-25 15:00:00,2018-04-27 09:45:00,BUTYLGLYKOL (CA,Multikriteriální hodnocení,198982.8900,83283.00,CZK,...,4,15.0,0,Česká republika,0.1,1,1,83283.00,83283.00,0.581456
1,100-45-1443,45,1443,2019-01-24 10:30:00,2019-01-31 10:30:00,Kancelářské pot,Celková nabídka účastníka,245087.5215,150894.45,CZK,...,41,89.0,0,Česká republika,0.0,1,1,150894.45,150894.45,0.384324
2,100-45-1389,45,1389,2017-10-30 09:15:00,2017-11-10 13:00:00,Poptávka výroby,Celková nabídka účastníka,32398.0000,7436.00,CZK,...,1,9.0,0,Česká republika,0.1,1,1,7436.00,7436.00,0.770480
3,100-45-1398,45,1398,2018-02-07 10:00:00,2018-03-01 00:00:00,Pronájem manipu,Jednotlivé položky,268321.2000,0.98,CZK,...,30,134.0,0,Česká republika,0.0,1,1,0.98,0.98,0.999996
4,100-45-1404,45,1404,2018-02-09 15:00:00,2018-02-23 15:00:00,Cenová poptávka,Multikriteriální hodnocení,63678.3000,57820.00,CZK,...,1,3.0,0,Česká republika,0.1,3,1,187387.00,57820.00,0.091998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,102-146-2352,146,2352,2018-05-15 14:00:00,2018-05-17 10:20:00,Upratovanie pri,Celková nabídka účastníka,18696.3920,18442.80,EUR,...,1,5.0,0,SK,0.1,1,1,18442.80,18442.80,0.013564
910,102-146-2409,146,2409,2020-05-20 12:30:00,2020-05-22 10:28:00,Upratovací serv,Celková nabídka účastníka,20675.4660,16719.05,EUR,...,1,12.0,4,SK,0.1,2,1,35161.85,16719.05,0.191358
911,102-146-2359,146,2359,2018-06-26 15:30:00,2018-06-28 10:22:00,Inovácia RS - č,Celková nabídka účastníka,280000.0000,298350.00,EUR,...,1,11.0,1,SK,0.1,1,1,298350.00,298350.00,-0.065536
912,1065-181-5895,181,5895,2019-05-14 10:07:00,2019-05-15 09:06:00,rebrované trubk,Celková nabídka účastníka,98442.9600,99910.00,EUR,...,1,19.0,3,Slovenská republika,0.1,2,2,182030.20,182030.20,-0.014902
913,1065-181-5896,181,5896,2019-05-16 10:00:00,2019-05-17 09:09:00,rúry bezošvé pr,Celková nabídka účastníka,295850.0000,273420.00,EUR,...,1,22.0,8,Slovenská republika,0.1,4,2,563930.20,381900.00,0.075815

In [71]:
selected_rows2 = hlavna[hlavna['Vitaz'] == '10309']

# Display the selected rows

selected_rows2

,UniqueID,Org,AucID,AucZac,AucKon,AucNazov1,AucVal,Porovnávacia cena,VitaznaPonuka,Mena,...,PocetItems,PocetZmienPonuk,PocetPredlzeni,Stat,MinKrokZnizPercenta,HistoryDealsInCategory,HistoryDealsWithVitaz,MoneySpentSoFarInCategory,MoneySpentSoFarWithVitaz,Relativna Uspora
835,106-102-6401,102,6401,2019-05-06 13:00:00,2019-05-09 13:30:00,Vykonávanie STK,Multikriteriální hodnocení,7210.0,209.708,EUR,...,12,46.0,0,Slovenská republika,0.1,6,1,85571.508,209.708,0.970914

In [79]:
hlavna["Vitaz"][0]

AttributeError: 'str' object has no attribute 'dtypes'

In [75]:
# Convert 'Vitaz' in hlavna to string
hlavna['Vitaz'] = hlavna['Vitaz'].astype(str)

# Convert 'IDParticipant' in data to string
data['IDParticipant'] = data['IDParticipant'].astype(str)

In [68]:
hlavna.dtypes

UniqueID                      object
Org                            int64
AucID                          int64
AucZac                        object
AucKon                        object
AucNazov1                     object
AucVal                        object
Porovnávacia cena            float64
VitaznaPonuka                float64
Mena                          object
PocetPozvanok                  int64
PocetAktivnychUcast          float64
Vitaz                         object
AucTypUpresnenie              object
Kateg                         object
Subkateg                      object
PocetItems                     int64
PocetZmienPonuk              float64
PocetPredlzeni                 int64
Stat                          object
MinKrokZnizPercenta          float64
HistoryDealsInCategory         int64
HistoryDealsWithVitaz          int64
MoneySpentSoFarInCategory    float64
MoneySpentSoFarWithVitaz     float64
Relativna Uspora             float64
dtype: object

In [72]:
# Check the type of the first value in 'Vitaz' column
print(type(hlavna['Vitaz'].iloc[0]))

# Check the type of the first value in 'IDParticipant' column
print(type(data['IDParticipant'].iloc[2]))

<class 'str'>
<class 'str'>

In [69]:
data.dtypes

UniqueID         object
Org               int64
AucID             int64
NazovKola        object
IDItem            int64
IDParticipant    object
Datum            object
CasZmeny         object
NovaHodnota      object
Unnamed: 9       object
dtype: object

In [41]:
# Write the data DataFrame to a new CSV file
data.to_csv('new_bidy.csv', index=False)

# Write the hlavna DataFrame to a new CSV file
hlavna.to_csv('new_hlavna.csv', index=False)

In [60]:
# Find unique values in 'Vitaz' that are not in 'IDParticipant'
unique_values_not_included = hlavna[~hlavna['Vitaz'].isin(data['IDParticipant'])]['Vitaz'].nunique()

# Display the number of unique values not included
print(unique_values_not_included)

1

In [26]:
# Find total count of unique values in 'Vitaz'
total_unique_values = hlavna['Vitaz'].nunique()

# Display the total count of unique values
print(total_unique_values)

435

In [27]:
len(hlavna)

914

In [61]:
# Find unique IDs in 'hlavna' that are not in 'data'
unique_ids_not_included = hlavna[~hlavna['UniqueID'].isin(data['UniqueID'])]['UniqueID'].nunique()

# Display the number of unique IDs not included
print(unique_ids_not_included)

0