In [1]:
#nainstaluje kniznice
!pip install pandas
!pip install openpyxl

Requirement already satisfied: pandas in /Users/A117792292/anaconda3/envs/ElektronickeObchodovanie/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/A117792292/anaconda3/envs/ElektronickeObchodovanie/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/A117792292/anaconda3/envs/ElektronickeObchodovanie/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/A117792292/anaconda3/envs/ElektronickeObchodovanie/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /Users/A117792292/anaconda3/envs/ElektronickeObchodovanie/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/A117792292/anaconda3/envs/ElektronickeObchodovanie/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: openpyxl in /Users/A117792292/anaconda3/envs/ElektronickeObchodovanie/lib/python3.10/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /Users/A117792292/anaconda3/envs/ElektronickeObchodovanie/lib/python3.10/site-packages (from openpyxl) (1.1.0)

In [2]:
#importuje kniznice
import pandas as pd

In [49]:
#nacitanie dat
hlavna = pd.read_excel('data_auctionHIsim2024/T1_hlavnaHIsim2024.xlsx')
nastavenia = pd.read_excel('data_auctionHIsim2024/T2_nastaveniaHIsim2024.xlsx')
kriteria = pd.read_excel('data_auctionHIsim2024/T3_kriteriaHIsim2024.xlsx')
bidy = pd.read_csv('data_auctionHIsim2024/T4_bidyHI simul2_2024.csv', sep=';', encoding='ISO-8859-1')

/var/folders/cj/vh3ymv8n1tsf0kp09s2k65l80000gq/T/ipykernel_7179/2776382465.py:5: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  bidy = pd.read_csv('data_auctionHIsim2024/T4_bidyHI simul2_2024.csv', sep=';', encoding='ISO-8859-1')

In [59]:
#zobrazenie dat
print(len(hlavna))
hlavna.head()
# Assuming 'bidy' is the DataFrame you want to filter

13217

,UniqueID,Org,AucID,AucZac,AucKon,AucNazov1,AucVal,Porovnávacia cena,VitaznaPonuka,Mena,...,MinKrokZnizPercenta,PocKolERMMA,PocKolZadavac,PocKolNIPPON,PocKolHOLLAND,UsporaPorov,UsporaVstup,UsporaAukc,KoefVarPonukCelk,KoefVarPonukERMNIP
0,100-45-1364,45,1364,2017-10-13 13:30:00,2017-10-23 13:33:00,Ocelové pásky v,Jednotlivé položky,24167.04,24864.0000,EUR,...,0.0,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
1,100-45-1365,45,1365,2017-10-06 12:00:00,2017-10-27 12:00:00,Cenová poptávka,Multikriteriální hodnocení,0.00,116400.0000,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
2,100-45-1369,45,1369,2017-10-12 08:30:00,2017-10-27 08:30:00,Cenová poptávka,Multikriteriální hodnocení,0.00,13167.0000,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
3,100-45-1378,45,1378,2017-10-17 12:30:00,2017-10-31 11:30:00,Cenová poptávka,Multikriteriální hodnocení,0.00,52062.4000,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
4,100-45-1379,45,1379,2017-10-23 10:00:00,2017-10-31 09:40:00,Doprava 2018 (S,Celková nabídka účastníka,0.00,262965.0771,EUR,...,0.0,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown

In [60]:
# Write 'hlavna' DataFrame to a CSV file
hlavna.to_csv('hlavna_doplnena.csv', index=False)

In [18]:
# Check for duplicates in 'AucID' column of 'hlavna' DataFrame
duplicates = hlavna['UniqueID'].duplicated().any()

# Print the result
print(duplicates)

False

In [19]:
# Select only the duplicated rows in 'AucID' column of 'hlavna' DataFrame
duplicated_rows = hlavna[hlavna['AucID'].duplicated(keep=False)]

# Print the duplicated rows
duplicated_rows
#TU JE PROBLEM !

,UniqueID,Org,AucID,AucZac,AucKon,AucNazov1,AucVal,Porovnávacia cena,VitaznaPonuka,Mena,...,MinKrokZnizPercenta,PocKolERMMA,PocKolZadavac,PocKolNIPPON,PocKolHOLLAND,UsporaPorov,UsporaVstup,UsporaAukc,KoefVarPonukCelk,KoefVarPonukERMNIP
0,100-45-1364,45,1364,2017-10-13 13:30:00,2017-10-23 13:33:00,Ocelové pásky v,Jednotlivé položky,24167.04,2.486400e+04,EUR,...,0.0,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
1,100-45-1365,45,1365,2017-10-06 12:00:00,2017-10-27 12:00:00,Cenová poptávka,Multikriteriální hodnocení,0.00,1.164000e+05,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
2,100-45-1369,45,1369,2017-10-12 08:30:00,2017-10-27 08:30:00,Cenová poptávka,Multikriteriální hodnocení,0.00,1.316700e+04,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
3,100-45-1378,45,1378,2017-10-17 12:30:00,2017-10-31 11:30:00,Cenová poptávka,Multikriteriální hodnocení,0.00,5.206240e+04,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
4,100-45-1379,45,1379,2017-10-23 10:00:00,2017-10-31 09:40:00,Doprava 2018 (S,Celková nabídka účastníka,0.00,2.629651e+05,EUR,...,0.0,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13212,91-17-423,17,423,2020-04-14 09:00:00,2020-05-06 12:43:00,Realizace stavb,Celková nabídka účastníka,0.00,3.148200e+05,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
13213,91-17-426,17,426,2020-04-15 09:00:00,2020-06-14 10:00:00,Realizace stavb,Celková nabídka účastníka,0.00,1.353024e+06,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
13214,91-17-429,17,429,2020-05-05 09:00:00,2020-05-14 12:15:00,Oprava plynovod,Celková nabídka účastníka,0.00,8.918300e+04,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
13215,91-17-430,17,430,2020-07-13 09:00:00,2020-08-03 13:30:00,Realizace stavb,Celková nabídka účastníka,0.00,1.101450e+06,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
13216,91-17-431,17,431,2020-07-10 12:00:00,2020-07-23 12:00:00,Realizace stavb,Celková nabídka účastníka,0.00,1.430400e+05,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown

In [20]:
filtered_hlavna = hlavna[hlavna['AucID'] == 1364]
filtered_hlavna

,UniqueID,Org,AucID,AucZac,AucKon,AucNazov1,AucVal,Porovnávacia cena,VitaznaPonuka,Mena,...,MinKrokZnizPercenta,PocKolERMMA,PocKolZadavac,PocKolNIPPON,PocKolHOLLAND,UsporaPorov,UsporaVstup,UsporaAukc,KoefVarPonukCelk,KoefVarPonukERMNIP
0,100-45-1364,45,1364,2017-10-13 13:30:00,2017-10-23 13:33:00,Ocelové pásky v,Jednotlivé položky,24167.04,24864.00,EUR,...,0.0,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
4193,1459-1-1364,1,1364,2020-01-24 09:00:00,2020-03-24 11:00:00,GO elektro NP a,Jednotlivé položky,0.00,222911.82,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
4442,1465-19-1364,19,1364,2019-02-13 13:25:00,2019-02-13 14:15:00,1784 Sofia,Jednotlivé položky,0.00,525.20,EUR,...,0.0,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
5137,1474-19-1364,19,1364,2019-02-13 13:25:00,2019-02-13 14:15:00,1784 Sofia,Jednotlivé položky,0.00,530.40,EUR,...,0.0,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown

In [57]:
filtered_hlavna = hlavna[hlavna['UniqueID'] == "100-45-1364"]
filtered_hlavna
#POZNAMKY:
#DOPOCITAT POCET AKTIVNYCH kokotvoooo
#DOPOCITAT POCET BIDOV
#mozeme hned povedat podla poctu pozvanok ktora polozka je najrizikovejsia
#dopocitat agregovane ze kolko a ako casto nakupujem od dodavatela
#postupne pre vsetky riadky dopocitat kolko predtym minul
#groupby-lambda
#zoradit v case

,UniqueID,Org,AucID,AucZac,AucKon,AucNazov1,AucVal,Porovnávacia cena,VitaznaPonuka,Mena,...,MinKrokZnizPercenta,PocKolERMMA,PocKolZadavac,PocKolNIPPON,PocKolHOLLAND,UsporaPorov,UsporaVstup,UsporaAukc,KoefVarPonukCelk,KoefVarPonukERMNIP
0,100-45-1364,45,1364,2017-10-13 13:30:00,2017-10-23 13:33:00,Ocelové pásky v,Jednotlivé položky,24167.04,24864.0,EUR,...,0.0,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown

In [22]:
# Check for null values in 'PocetPozvanok' column of 'hlavna' DataFrame
has_nulls = hlavna['PocetPozvanok'].isnull().any()

# Print the result
print(has_nulls)

False

In [21]:
# Group by 'Org' column and get the size of each group
org_counts = hlavna.groupby('Org').size()

# Display the counts
print(org_counts)

Org
1      2786
2       262
3       189
4        31
5       159
       ...
181       8
192       3
243       4
276       1
323       1
Length: 117, dtype: int64

In [11]:
print(len(nastavenia))
nastavenia.head()

48221

,UniqueID,Org,AucID,IDkola,NazovKola,LubZmenaCien,LubZmenaVolPodmienok,MoznDorovnPonuku,MoznDorovnNajPonuku,PredlzitMin,...,ZobrazMnozstvo,ZobrazPocetPoloz,ZobrazPomocVypocet,ZobrazPomocVypocetUcas,ZobrazPoradie,ZobrazPorDoX,ZobrazPoradiePoloziek,ZobrazPorPomocVypoc,ZobrazPorPomocVypocDoX,ZobrazMinMaxCenu
0,100-45-1364,45,1364,2979.0,Vstupní kolo,1.0,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100-45-1364,45,1364,2980.0,Aukční kolo,0.0,1.0,0.0,0.0,2.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100-45-1365,45,1365,2981.0,Předkládání nabídek,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,100-45-1366,45,1366,2982.0,Předkládání nabídek,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100-45-1368,45,1368,2986.0,Vstupní kolo,1.0,1.0,0.0,1.0,0.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [26]:
filtered_nastavenia = nastavenia[nastavenia['UniqueID'] =='1460-4-142']
print(filtered_nastavenia)

         UniqueID  Org  AucID  IDkola            NazovKola  LubZmenaCien  \
10902  1460-4-142    4    142   275.0  Předkládání nabídek           1.0

       LubZmenaVolPodmienok  MoznDorovnPonuku  MoznDorovnNajPonuku  \
10902                   0.0               0.0                  1.0

       PredlzitMin  ...  ZobrazMnozstvo  ZobrazPocetPoloz  ZobrazPomocVypocet  \
10902          0.0  ...             1.0               0.0                 0.0

       ZobrazPomocVypocetUcas  ZobrazPoradie  ZobrazPorDoX  \
10902                     0.0            0.0           0.0

       ZobrazPoradiePoloziek  ZobrazPorPomocVypoc  ZobrazPorPomocVypocDoX  \
10902                    0.0                  0.0                     0.0

       ZobrazMinMaxCenu
10902               0.0

[1 rows x 33 columns]

In [28]:
print(len(kriteria))
kriteria.head()

26620

      UniqueID  Org  AucID                AucEvaluated  HodnotaKriteria
0  100-45-1364   45   1364          Jednotlivé položky              NaN
1  100-45-1365   45   1365  Multikriteriální hodnocení             99.4
2  100-45-1365   45   1365  Multikriteriální hodnocení              0.2
3  100-45-1365   45   1365  Multikriteriální hodnocení              0.2
4  100-45-1365   45   1365  Multikriteriální hodnocení              0.2

In [24]:
print(len(bidy))
bidy.head()

76557

,UniqueID,Org,AucID,NazovKola,IDItem,IDParticipant,Datum,CasZmeny,NovaHodnota,Unnamed: 9
0,100-45-1364,45,1364,Vstupní kolo,54038,2983,13.10.2017,15:58:22,690,NaN
1,100-45-1364,45,1364,Vstupní kolo,53969,2983,13.10.2017,15:58:23,690,NaN
2,100-45-1364,45,1364,Vstupní kolo,54177,2983,13.10.2017,15:58:24,690,NaN
3,100-45-1364,45,1364,Vstupní kolo,54037,2983,13.10.2017,15:58:25,690,NaN
4,100-45-1364,45,1364,Vstupní kolo,53979,2983,13.10.2017,15:58:26,690,NaN

In [55]:
filtered_bidy = bidy[bidy['UniqueID'] == '100-45-1364']
filtered_bidy
# unique_participant_count = filtered_bidy['IDParticipant'].nunique()
# print(unique_participant_count)
# unique_item_count = filtered_bidy['IDItem'].nunique()
# print(unique_item_count)
#POZNAMKA
#Niektore tu nesu organizacie preco ? zmazat ? alebocodopici

,UniqueID,Org,AucID,NazovKola,IDItem,IDParticipant,Datum,CasZmeny,NovaHodnota,Unnamed: 9
0,100-45-1364,45,1364,Vstupní kolo,54038,2983,13.10.2017,15:58:22,690,NaN
1,100-45-1364,45,1364,Vstupní kolo,53969,2983,13.10.2017,15:58:23,690,NaN
2,100-45-1364,45,1364,Vstupní kolo,54177,2983,13.10.2017,15:58:24,690,NaN
3,100-45-1364,45,1364,Vstupní kolo,54037,2983,13.10.2017,15:58:25,690,NaN
4,100-45-1364,45,1364,Vstupní kolo,53979,2983,13.10.2017,15:58:26,690,NaN
...,...,...,...,...,...,...,...,...,...,...
87,100-45-1364,45,1364,Aukèní kolo,54037,2980,23.10.2017,13:29:40,639,NaN
88,100-45-1364,45,1364,Aukèní kolo,53979,2980,23.10.2017,13:29:41,639,NaN
89,100-45-1364,45,1364,Aukèní kolo,54169,2980,23.10.2017,13:29:43,649,NaN
90,100-45-1364,45,1364,Aukèní kolo,54037,2978,23.10.2017,13:31:19,630,NaN
91,100-45-1364,45,1364,Aukèní kolo,53979,2978,23.10.2017,13:31:30,630,NaN

In [52]:
# Fill the null values in 'PocetZmienPonuk' column with 0
hlavna['PocetZmienPonuk'] = hlavna['PocetZmienPonuk'].fillna(0)

# Convert the data type of 'PocetZmienPonuk' column to integer
hlavna['PocetZmienPonuk'] = hlavna['PocetZmienPonuk'].astype(int)
# Calculate the count of rows for each 'UniqueID' in 'bidy' DataFrame
bidy_counts = bidy.groupby('UniqueID').size()
# Create a dictionary where the keys are the 'UniqueID's and the values are the counts
bidy_counts_dict = bidy_counts.to_dict()


# # Map the 'UniqueID's in 'hlavna' DataFrame to the counts in the dictionary
# Map the 'UniqueID's in 'hlavna' DataFrame to the counts in the dictionary
hlavna['Counts'] = hlavna['UniqueID'].map(bidy_counts_dict)

# Fill the null values in 'Counts' column with 0
hlavna['Counts'] = hlavna['Counts'].fillna(0)
print(hlavna['Counts'])
# # Fill the null values in 'PocetZmienPonuk' attribute with the values from the new series
## Assign the values from 'Counts' column to 'PocetZmienPonuk' column
hlavna['PocetZmienPonuk'] = hlavna['Counts']
# # Drop the 'Counts' column as it is no longer needed
hlavna = hlavna.drop(columns=['Counts'])

0         92.0
1          4.0
2         16.0
3          5.0
4        566.0
         ...
13212      0.0
13213      0.0
13214      0.0
13215      0.0
13216      0.0
Name: Counts, Length: 13217, dtype: float64

In [31]:
bidy['UniqueID'].nunique()

2518

In [56]:
unique_participant_count = filtered_bidy['IDParticipant'].nunique()
print(unique_participant_count)
unique_item_count = filtered_bidy['IDItem'].nunique()
print(unique_item_count)

6
8

In [58]:
# Group the 'bidy' dataset by 'UniqueID' and count the unique 'IDParticipant' values
participant_counts = bidy.groupby('UniqueID')['IDParticipant'].nunique()

# Convert the result to a dictionary
participant_counts_dict = participant_counts.to_dict()

# Map the 'UniqueID' in the 'hlavna' dataset to the counts in the dictionary
hlavna['PocetAktivnychUcast'] = hlavna['UniqueID'].map(participant_counts_dict)

# Fill the null values in the 'PocetAktivnychUcast' attribute with 0
hlavna['PocetAktivnychUcast'] = hlavna['PocetAktivnychUcast'].fillna(0)

In [15]:
#Co sa opytat ?
# Get the 'UniqueID' column from the 'duplicated_rows' DataFrame
duplicated_unique_ids = duplicated_rows['UniqueID']

# Check if any of these 'UniqueID's are present in the 'bidy' DataFrame
is_present_in_bidy = bidy['UniqueID'].isin(duplicated_unique_ids)

# Print the result
print(is_present_in_bidy.any())

True

In [104]:
# Get the 'UniqueID' column from the 'duplicated_rows' DataFrame
duplicated_unique_ids = duplicated_rows['UniqueID']

# Check if any of these 'UniqueID's are present in the 'bidy' DataFrame
ids_present_in_bidy = bidy[bidy['UniqueID'].isin(duplicated_unique_ids)]

# Print the 'UniqueID's that are present in both DataFrames
print(ids_present_in_bidy['UniqueID'])

0         100-45-1364
1         100-45-1364
2         100-45-1364
3         100-45-1364
4         100-45-1364
             ...
76539    1105-60-3189
76553    1105-60-3191
76554    1105-60-3191
76555    1105-60-3191
76556    1105-60-3192
Name: UniqueID, Length: 57058, dtype: object

In [105]:
# Get the 'UniqueID' column from the 'duplicated_rows' DataFrame
duplicated_unique_ids = duplicated_rows['UniqueID']

# Check which of these 'UniqueID's are not present in the 'bidy' DataFrame
not_present_in_bidy = ~bidy['UniqueID'].isin(duplicated_unique_ids)

# Count the number of 'UniqueID's that are not present in 'bidy'
count_not_present_in_bidy = not_present_in_bidy.sum()

# Print the result
print(count_not_present_in_bidy)

19499