In [14]:
#nainstaluje kniznice
!pip install pandas
!pip install openpyxl

Requirement already satisfied: pandas in /Users/A117792292/anaconda3/envs/ElektronickeObchodovanie/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/A117792292/anaconda3/envs/ElektronickeObchodovanie/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/A117792292/anaconda3/envs/ElektronickeObchodovanie/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/A117792292/anaconda3/envs/ElektronickeObchodovanie/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /Users/A117792292/anaconda3/envs/ElektronickeObchodovanie/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/A117792292/anaconda3/envs/ElektronickeObchodovanie/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 1.5 MB/s eta 0:00:0000:0100:01
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [2]:
#importuje kniznice
import pandas as pd

In [56]:
#nacitanie dat
hlavna = pd.read_excel('data_auctionHIsim2024/T1_hlavnaHIsim2024.xlsx')
nastavenia = pd.read_excel('data_auctionHIsim2024/T2_nastaveniaHIsim2024.xlsx')
kriteria = pd.read_excel('data_auctionHIsim2024/T3_kriteriaHIsim2024.xlsx')
bidy = pd.read_csv('data_auctionHIsim2024/T4_bidyHI simul2_2024.csv', sep=';', encoding='ISO-8859-1')

/var/folders/cj/vh3ymv8n1tsf0kp09s2k65l80000gq/T/ipykernel_89066/2776382465.py:5: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  bidy = pd.read_csv('data_auctionHIsim2024/T4_bidyHI simul2_2024.csv', sep=';', encoding='ISO-8859-1')

In [32]:
#zobrazenie dat
print(len(hlavna))
hlavna.head()
# Assuming 'bidy' is the DataFrame you want to filter

13217

,UniqueID,Org,AucID,AucZac,AucKon,AucNazov1,AucVal,Porovnávacia cena,VitaznaPonuka,Mena,...,MinKrokZnizPercenta,PocKolERMMA,PocKolZadavac,PocKolNIPPON,PocKolHOLLAND,UsporaPorov,UsporaVstup,UsporaAukc,KoefVarPonukCelk,KoefVarPonukERMNIP
0,100-45-1364,45,1364,2017-10-13 13:30:00,2017-10-23 13:33:00,Ocelové pásky v,Jednotlivé položky,24167.04,24864.0000,EUR,...,0.0,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
1,100-45-1365,45,1365,2017-10-06 12:00:00,2017-10-27 12:00:00,Cenová poptávka,Multikriteriální hodnocení,0.00,116400.0000,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
2,100-45-1369,45,1369,2017-10-12 08:30:00,2017-10-27 08:30:00,Cenová poptávka,Multikriteriální hodnocení,0.00,13167.0000,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
3,100-45-1378,45,1378,2017-10-17 12:30:00,2017-10-31 11:30:00,Cenová poptávka,Multikriteriální hodnocení,0.00,52062.4000,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
4,100-45-1379,45,1379,2017-10-23 10:00:00,2017-10-31 09:40:00,Doprava 2018 (S,Celková nabídka účastníka,0.00,262965.0771,EUR,...,0.0,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown

In [83]:
# Check for duplicates in 'AucID' column of 'hlavna' DataFrame
duplicates = hlavna['UniqueID'].duplicated().any()

# Print the result
print(duplicates)

False

In [86]:
# Select only the duplicated rows in 'AucID' column of 'hlavna' DataFrame
duplicated_rows = hlavna[hlavna['AucID'].duplicated(keep=False)]

# Print the duplicated rows
duplicated_rows
#TU JE PROBLEM !

,UniqueID,Org,AucID,AucZac,AucKon,AucNazov1,AucVal,Porovnávacia cena,VitaznaPonuka,Mena,...,MinKrokZnizPercenta,PocKolERMMA,PocKolZadavac,PocKolNIPPON,PocKolHOLLAND,UsporaPorov,UsporaVstup,UsporaAukc,KoefVarPonukCelk,KoefVarPonukERMNIP
0,100-45-1364,45,1364,2017-10-13 13:30:00,2017-10-23 13:33:00,Ocelové pásky v,Jednotlivé položky,24167.04,2.486400e+04,EUR,...,0.0,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
1,100-45-1365,45,1365,2017-10-06 12:00:00,2017-10-27 12:00:00,Cenová poptávka,Multikriteriální hodnocení,0.00,1.164000e+05,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
2,100-45-1369,45,1369,2017-10-12 08:30:00,2017-10-27 08:30:00,Cenová poptávka,Multikriteriální hodnocení,0.00,1.316700e+04,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
3,100-45-1378,45,1378,2017-10-17 12:30:00,2017-10-31 11:30:00,Cenová poptávka,Multikriteriální hodnocení,0.00,5.206240e+04,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
4,100-45-1379,45,1379,2017-10-23 10:00:00,2017-10-31 09:40:00,Doprava 2018 (S,Celková nabídka účastníka,0.00,2.629651e+05,EUR,...,0.0,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13212,91-17-423,17,423,2020-04-14 09:00:00,2020-05-06 12:43:00,Realizace stavb,Celková nabídka účastníka,0.00,3.148200e+05,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
13213,91-17-426,17,426,2020-04-15 09:00:00,2020-06-14 10:00:00,Realizace stavb,Celková nabídka účastníka,0.00,1.353024e+06,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
13214,91-17-429,17,429,2020-05-05 09:00:00,2020-05-14 12:15:00,Oprava plynovod,Celková nabídka účastníka,0.00,8.918300e+04,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
13215,91-17-430,17,430,2020-07-13 09:00:00,2020-08-03 13:30:00,Realizace stavb,Celková nabídka účastníka,0.00,1.101450e+06,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
13216,91-17-431,17,431,2020-07-10 12:00:00,2020-07-23 12:00:00,Realizace stavb,Celková nabídka účastníka,0.00,1.430400e+05,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown

In [93]:
filtered_hlavna = hlavna[hlavna['Org'] == 181]
filtered_hlavna
#POZNAMKY:
#mozeme hned povedat podla poctu pozvanok ktora polozka je najrizikovejsia
#dopocitat agregovane ze kolko a ako casto nakupujem od dodavatela
#postupne pre vsetky riadky dopocitat kolko predtym minul
#groupby-lambda
#zoradit v case

,UniqueID,Org,AucID,AucZac,AucKon,AucNazov1,AucVal,Porovnávacia cena,VitaznaPonuka,Mena,...,MinKrokZnizPercenta,PocKolERMMA,PocKolZadavac,PocKolNIPPON,PocKolHOLLAND,UsporaPorov,UsporaVstup,UsporaAukc,KoefVarPonukCelk,KoefVarPonukERMNIP
591,1065-181-5885,181,5885,2018-08-21 08:00:00,2018-08-22 11:36:00,plechy 1.4541 n,Jednotlivé položky,0.00,97241.088,EUR,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
592,1065-181-5891,181,5891,2018-09-21 13:00:00,2018-09-24 10:08:00,Rebrované trubk,Celková nabídka účastníka,0.00,108480.000,EUR,...,0.0,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
593,1065-181-5892,181,5892,2019-04-30 10:00:00,2019-04-30 13:28:00,NaN,Celková nabídka účastníka,0.00,82120.200,EUR,...,0.0,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
594,1065-181-5893,181,5893,2019-05-02 08:45:00,2019-05-06 11:19:00,"plechy 1.4541,",Jednotlivé položky,0.00,23457.510,EUR,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
595,1065-181-5895,181,5895,2019-05-14 10:07:00,2019-05-15 09:06:00,rebrované trubk,Celková nabídka účastníka,98442.96,99910.000,EUR,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
596,1065-181-5896,181,5896,2019-05-16 10:00:00,2019-05-17 09:09:00,rúry bezošvé pr,Celková nabídka účastníka,295850.00,273420.000,EUR,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
597,1065-181-5897,181,5897,2019-07-01 13:00:00,2019-07-08 12:56:00,Plechy 1.4571 I,Jednotlivé položky,0.00,61317.192,EUR,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
598,1065-181-5898,181,5898,2020-02-24 11:00:00,2020-02-25 09:00:00,Mazadlá a Uvoľn,Jednotlivé položky,0.00,45753.600,EUR,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown

In [39]:
# Check for null values in 'PocetPozvanok' column of 'hlavna' DataFrame
has_nulls = hlavna['PocetPozvanok'].isnull().any()

# Print the result
print(has_nulls)

False

In [34]:
# Group by 'Org' column and get the size of each group
org_counts = hlavna.groupby('Org').size()

# Display the counts
print(org_counts)

Org
1      2786
2       262
3       189
4        31
5       159
       ...
181       8
192       3
243       4
276       1
323       1
Length: 117, dtype: int64

In [27]:
print(len(nastavenia))
nastavenia.head()

48221

,UniqueID,Org,AucID,IDkola,NazovKola,LubZmenaCien,LubZmenaVolPodmienok,MoznDorovnPonuku,MoznDorovnNajPonuku,PredlzitMin,...,ZobrazMnozstvo,ZobrazPocetPoloz,ZobrazPomocVypocet,ZobrazPomocVypocetUcas,ZobrazPoradie,ZobrazPorDoX,ZobrazPoradiePoloziek,ZobrazPorPomocVypoc,ZobrazPorPomocVypocDoX,ZobrazMinMaxCenu
0,100-45-1364,45,1364,2979.0,Vstupní kolo,1.0,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100-45-1364,45,1364,2980.0,Aukční kolo,0.0,1.0,0.0,0.0,2.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100-45-1365,45,1365,2981.0,Předkládání nabídek,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,100-45-1366,45,1366,2982.0,Předkládání nabídek,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100-45-1368,45,1368,2986.0,Vstupní kolo,1.0,1.0,0.0,1.0,0.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [99]:
filtered_nastavenia = nastavenia[nastavenia['UniqueID'] =='1423-2-105']
print(filtered_nastavenia)

        UniqueID  Org  AucID  IDkola            NazovKola  LubZmenaCien  \
9593  1423-2-105    2    105   188.0  Předkládání nabídek           1.0
9594  1423-2-105    2    105   189.0       Kontrolní kolo           0.0

      LubZmenaVolPodmienok  MoznDorovnPonuku  MoznDorovnNajPonuku  \
9593                   0.0               0.0                  1.0
9594                   0.0               0.0                  1.0

      PredlzitMin  ...  ZobrazMnozstvo  ZobrazPocetPoloz  ZobrazPomocVypocet  \
9593          0.0  ...             1.0               0.0                 0.0
9594          0.0  ...             1.0               1.0                 1.0

      ZobrazPomocVypocetUcas  ZobrazPoradie  ZobrazPorDoX  \
9593                     0.0            1.0           0.0
9594                     1.0            0.0           0.0

      ZobrazPoradiePoloziek  ZobrazPorPomocVypoc  ZobrazPorPomocVypocDoX  \
9593                    0.0                  0.0                     0.0
9594                    0.0                  0.0                     0.0

      ZobrazMinMaxCenu
9593               0.0
9594               0.0

[2 rows x 33 columns]

In [28]:
print(len(kriteria))
kriteria.head()

26620

      UniqueID  Org  AucID                AucEvaluated  HodnotaKriteria
0  100-45-1364   45   1364          Jednotlivé položky              NaN
1  100-45-1365   45   1365  Multikriteriální hodnocení             99.4
2  100-45-1365   45   1365  Multikriteriální hodnocení              0.2
3  100-45-1365   45   1365  Multikriteriální hodnocení              0.2
4  100-45-1365   45   1365  Multikriteriální hodnocení              0.2

In [51]:
print(len(bidy))
bidy.head()

76557

,UniqueID,Org,AucID,NazovKola,IDItem,IDParticipant,Datum,CasZmeny,NovaHodnota,Unnamed: 9
0,100-45-1364,45,1364,Vstupní kolo,54038,2983,13.10.2017,15:58:22,690,NaN
1,100-45-1364,45,1364,Vstupní kolo,53969,2983,13.10.2017,15:58:23,690,NaN
2,100-45-1364,45,1364,Vstupní kolo,54177,2983,13.10.2017,15:58:24,690,NaN
3,100-45-1364,45,1364,Vstupní kolo,54037,2983,13.10.2017,15:58:25,690,NaN
4,100-45-1364,45,1364,Vstupní kolo,53979,2983,13.10.2017,15:58:26,690,NaN

In [102]:
filtered_bidy = bidy[bidy['UniqueID'] =='1425-2-54']
filtered_bidy
# unique_participant_count = filtered_bidy['IDParticipant'].nunique()
# print(unique_participant_count)
# unique_item_count = filtered_bidy['IDItem'].nunique()
# print(unique_item_count)
#POZNAMKA
#Niektore tu nesu organizacie preco ? zmazat ? alebocodopici

Empty DataFrame
Columns: [UniqueID, Org, AucID, NazovKola, IDItem, IDParticipant, Datum, CasZmeny, NovaHodnota, Unnamed: 9]
Index: []

In [108]:
bidy['UniqueID'].nunique()

2518

In [81]:
unique_participant_count = filtered_bidy['IDParticipant'].nunique()
print(unique_participant_count)
unique_item_count = filtered_bidy['IDItem'].nunique()
print(unique_item_count)

3
1

In [103]:
#Co sa opytat ?
# Get the 'UniqueID' column from the 'duplicated_rows' DataFrame
duplicated_unique_ids = duplicated_rows['UniqueID']

# Check if any of these 'UniqueID's are present in the 'bidy' DataFrame
is_present_in_bidy = bidy['UniqueID'].isin(duplicated_unique_ids)

# Print the result
print(is_present_in_bidy.any())

True

In [104]:
# Get the 'UniqueID' column from the 'duplicated_rows' DataFrame
duplicated_unique_ids = duplicated_rows['UniqueID']

# Check if any of these 'UniqueID's are present in the 'bidy' DataFrame
ids_present_in_bidy = bidy[bidy['UniqueID'].isin(duplicated_unique_ids)]

# Print the 'UniqueID's that are present in both DataFrames
print(ids_present_in_bidy['UniqueID'])

0         100-45-1364
1         100-45-1364
2         100-45-1364
3         100-45-1364
4         100-45-1364
             ...
76539    1105-60-3189
76553    1105-60-3191
76554    1105-60-3191
76555    1105-60-3191
76556    1105-60-3192
Name: UniqueID, Length: 57058, dtype: object

In [105]:
# Get the 'UniqueID' column from the 'duplicated_rows' DataFrame
duplicated_unique_ids = duplicated_rows['UniqueID']

# Check which of these 'UniqueID's are not present in the 'bidy' DataFrame
not_present_in_bidy = ~bidy['UniqueID'].isin(duplicated_unique_ids)

# Count the number of 'UniqueID's that are not present in 'bidy'
count_not_present_in_bidy = not_present_in_bidy.sum()

# Print the result
print(count_not_present_in_bidy)

19499