In [14]:
#nainstaluje kniznice
!pip install pandas
!pip install openpyxl

Requirement already satisfied: pandas in /Users/A117792292/anaconda3/envs/ElektronickeObchodovanie/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/A117792292/anaconda3/envs/ElektronickeObchodovanie/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/A117792292/anaconda3/envs/ElektronickeObchodovanie/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/A117792292/anaconda3/envs/ElektronickeObchodovanie/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /Users/A117792292/anaconda3/envs/ElektronickeObchodovanie/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/A117792292/anaconda3/envs/ElektronickeObchodovanie/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 1.5 MB/s eta 0:00:0000:0100:01
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [2]:
#importuje kniznice
import pandas as pd

In [17]:
#nacitanie dat
hlavna = pd.read_excel('data_auctionHIsim2024/T1_hlavnaHIsim2024.xlsx')
nastavenia = pd.read_excel('data_auctionHIsim2024/T2_nastaveniaHIsim2024.xlsx')
kriteria = pd.read_excel('data_auctionHIsim2024/T3_kriteriaHIsim2024.xlsx')
bidy = pd.read_csv('data_auctionHIsim2024/T4_bidyHI simul2_2024.csv', sep=';', encoding='ISO-8859-1')

/var/folders/cj/vh3ymv8n1tsf0kp09s2k65l80000gq/T/ipykernel_89066/2714954740.py:4: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  bidy = pd.read_csv('data_auctionHIsim2024/T4_bidyHI simul2_2024.csv', sep=';', encoding='ISO-8859-1')

In [26]:
#zobrazenie dat
print(len(hlavna))
hlavna.head()

13217

,UniqueID,Org,AucID,AucZac,AucKon,AucNazov1,AucVal,Porovnávacia cena,VitaznaPonuka,Mena,...,MinKrokZnizPercenta,PocKolERMMA,PocKolZadavac,PocKolNIPPON,PocKolHOLLAND,UsporaPorov,UsporaVstup,UsporaAukc,KoefVarPonukCelk,KoefVarPonukERMNIP
0,100-45-1364,45,1364,2017-10-13 13:30:00,2017-10-23 13:33:00,Ocelové pásky v,Jednotlivé položky,24167.04,24864.0000,EUR,...,0.0,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
1,100-45-1365,45,1365,2017-10-06 12:00:00,2017-10-27 12:00:00,Cenová poptávka,Multikriteriální hodnocení,0.00,116400.0000,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
2,100-45-1369,45,1369,2017-10-12 08:30:00,2017-10-27 08:30:00,Cenová poptávka,Multikriteriální hodnocení,0.00,13167.0000,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
3,100-45-1378,45,1378,2017-10-17 12:30:00,2017-10-31 11:30:00,Cenová poptávka,Multikriteriální hodnocení,0.00,52062.4000,CZK,...,0.1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
4,100-45-1379,45,1379,2017-10-23 10:00:00,2017-10-31 09:40:00,Doprava 2018 (S,Celková nabídka účastníka,0.00,262965.0771,EUR,...,0.0,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown

In [27]:
print(len(nastavenia))
nastavenia.head()

48221

,UniqueID,Org,AucID,IDkola,NazovKola,LubZmenaCien,LubZmenaVolPodmienok,MoznDorovnPonuku,MoznDorovnNajPonuku,PredlzitMin,...,ZobrazMnozstvo,ZobrazPocetPoloz,ZobrazPomocVypocet,ZobrazPomocVypocetUcas,ZobrazPoradie,ZobrazPorDoX,ZobrazPoradiePoloziek,ZobrazPorPomocVypoc,ZobrazPorPomocVypocDoX,ZobrazMinMaxCenu
0,100-45-1364,45,1364,2979.0,Vstupní kolo,1.0,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100-45-1364,45,1364,2980.0,Aukční kolo,0.0,1.0,0.0,0.0,2.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100-45-1365,45,1365,2981.0,Předkládání nabídek,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,100-45-1366,45,1366,2982.0,Předkládání nabídek,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100-45-1368,45,1368,2986.0,Vstupní kolo,1.0,1.0,0.0,1.0,0.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [28]:
print(len(kriteria))
kriteria.head()

26620

      UniqueID  Org  AucID                AucEvaluated  HodnotaKriteria
0  100-45-1364   45   1364          Jednotlivé položky              NaN
1  100-45-1365   45   1365  Multikriteriální hodnocení             99.4
2  100-45-1365   45   1365  Multikriteriální hodnocení              0.2
3  100-45-1365   45   1365  Multikriteriální hodnocení              0.2
4  100-45-1365   45   1365  Multikriteriální hodnocení              0.2

In [29]:
print(len(bidy))
bidy.head()

76557

,UniqueID,Org,AucID,NazovKola,IDItem,IDParticipant,Datum,CasZmeny,NovaHodnota,Unnamed: 9
0,100-45-1364,45,1364,Vstupní kolo,54038,2983,13.10.2017,15:58:22,690,NaN
1,100-45-1364,45,1364,Vstupní kolo,53969,2983,13.10.2017,15:58:23,690,NaN
2,100-45-1364,45,1364,Vstupní kolo,54177,2983,13.10.2017,15:58:24,690,NaN
3,100-45-1364,45,1364,Vstupní kolo,54037,2983,13.10.2017,15:58:25,690,NaN
4,100-45-1364,45,1364,Vstupní kolo,53979,2983,13.10.2017,15:58:26,690,NaN